@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.scroller::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tinyborder {
  border: -2px solid #b0babf;
}

.scrollerMain::-webkit-scrollbar {
  width: 6px !important;
}

.scroller::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scroller::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}

.contain {
  @apply container mx-auto px-4 lg:px-5;
}

.input {
  @apply w-full outline-none text-sm  placeholder:!text-grayOne py-2 pl-4 bg-white rounded-[7px] text-grayOne border focus:border-secondaryTwo;
}

.secondaryThree {
  @apply text-secondaryThree text-sm lg:text-base opacity-50;
}

.headingOne {
  @apply text-base lg:text-lg xl:text-xl font-semibold text-black;
}

.paragraph {
  @apply text-sm lg:text-base leading-[26px] lg:leading-8;
}

.spec {
  @apply text-black font-light text-sm lg:text-base;
}
