@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.scroller::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tinyborder {
  border: -2px solid #b0babf;
}

.scrollerMain::-webkit-scrollbar {
  width: 6px !important;
}

.scrollerSec::-webkit-scrollbar {
  width: 3px !important;
}

.scroller::-webkit-scrollbar-track {
  background: #f5f5f5;
}

.scroller::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 15px;
}

.contain {
  @apply container mx-auto px-4 sm:px-10;
}

.input {
  @apply w-full outline-none text-sm  placeholder:!text-grayOne py-3 pl-4 bg-white rounded-[7px] text-grayOne border focus:border-secondaryTwo;
}

.input-field {
  @apply w-full outline-none text-sm  placeholder:!text-grayFour py-4 pl-4 bg-white rounded-[6px] text-grayFour border border-grayTwo/30 focus:border-primaryOne/30;
}

.secondaryThree {
  @apply text-secondaryThree text-sm lg:text-base opacity-50;
}

.headingOne {
  @apply text-base lg:text-lg xl:text-xl font-semibold text-black;
}

.paragraph {
  @apply text-sm lg:text-base leading-[26px] lg:leading-8;
}

.spec {
  @apply text-grayOne text-sm lg:text-base;
}

.body {
  @apply !mt-[100px] lg:!mt-[120px]  space-y-8;
}

.dash-header {
  @apply text-primaryOne text-base lg:text-lg font-semibold;
}

.progress-bar {
  @apply w-full h-full flex items-center justify-between relative before:block before:absolute before:top-[50%] before:h-[2px] before:w-full before:bg-[#E8ECEF];
}

.vendor_header {
  @apply text-base lg:text-lg font-semibold;
}
